<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span jhiTranslate="enjexpApp.location.detail.title">Location</span> {{location.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.location.fullAddress">Full Address</span></dt>
                <dd>
                    <span>{{location.fullAddress}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.location.floor">Floor</span></dt>
                <dd>
                    <span>{{location.floor}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.location.room">Room</span></dt>
                <dd>
                    <span>{{location.room}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.location.lat">Lat</span></dt>
                <dd>
                    <span>{{location.lat}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.location.lon">Lon</span></dt>
                <dd>
                    <span>{{location.lon}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
