<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.menu.home.title">Menus</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-menu" [routerLink]="['/menu/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.menu.home.createLabel">
            Create a new Menu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="menus?.length === 0">
        <span jhiTranslate="enjexpApp.menu.home.notFound">No menus found</span>
    </div>
    <div class="table-responsive" *ngIf="menus?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="enjexpApp.menu.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="enjexpApp.menu.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span jhiTranslate="enjexpApp.menu.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="enjexpApp.menu.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="enjexpApp.menu.flagDeleted">Flag Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="enjexpApp.menu.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prepDuration"><span jhiTranslate="enjexpApp.menu.prepDuration">Prep Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="category.id"><span jhiTranslate="enjexpApp.menu.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price.id"><span jhiTranslate="enjexpApp.menu.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="combo.id"><span jhiTranslate="enjexpApp.menu.combo">Combo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let menu of menus ;trackBy: trackId">
                <td><a [routerLink]="['/menu', menu.id, 'view' ]">{{menu.id}}</a></td>
                <td>{{menu.name}}</td>
                <td>{{menu.description}}</td>
                <td>
                    <a *ngIf="menu.image" (click)="openFile(menu.imageContentType, menu.image)">
                        <img [src]="'data:' + menu.imageContentType + ';base64,' + menu.image" style="max-height: 30px;" alt="menu image"/>
                    </a>
                    <span *ngIf="menu.image">{{menu.imageContentType}}, {{byteSize(menu.image)}}</span>
                </td>
                <td>{{menu.createDate | date:'medium'}}</td>
                <td>{{menu.flagDeleted}}</td>
                <td>{{menu.content}}</td>
                <td>{{menu.prepDuration}}</td>
                <td>
                    <div *ngIf="menu.category">
                        <a [routerLink]="['/category', menu.category?.id, 'view' ]" >{{menu.category?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="menu.price">
                        {{menu.price?.price}}
                    </div>
                </td>
                <td>
                    <div *ngIf="menu.combo">
                        <a [routerLink]="['/menu', menu.combo?.id, 'view' ]" >{{menu.combo?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/menu', menu.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/menu', menu.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/menu', { outlets: { popup: menu.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="menus?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
