<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-menu-heading" jhiTranslate="enjexpApp.menu.home.createOrEditLabel">Create or edit a Menu</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.description" for="field_description">Description</label>

                    <textarea class="form-control" name="description" id="field_description" formControlName="description"></textarea>

                    <!--<input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>-->
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.content" for="field_content">Content</label>
                    <textarea class="form-control" name="content" id="field_content" formControlName="content"></textarea>
                    <!--<input type="text" class="form-control" name="content" id="field_content"
                           formControlName="content"/>-->
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.image" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentType').value + ';base64,' + editForm.get('image').value" style="max-height: 100px;" *ngIf="editForm.get('image').value" alt="menu image"/>
                        <div *ngIf="editForm.get('image').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imageContentType').value}}, {{byteSize(editForm.get('image').value)}}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType" />
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
                    <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                           formControlName="flagDeleted"/>
                </div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.prepDuration" for="field_prepDuration">Prep Duration</label>
                    <input type="number" class="form-control" name="prepDuration" id="field_prepDuration"
                           formControlName="prepDuration"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" formControlName="category">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === editForm.get('category').value?.id ? editForm.get('category').value : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <!--<select class="form-control" id="field_price" name="price" formControlName="price">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="priceHistoryOption.id === editForm.get('price').value?.id ? editForm.get('price').value : priceHistoryOption" *ngFor="let priceHistoryOption of pricehistories; trackBy: trackPriceHistoryById">{{priceHistoryOption.price}}</option>
                    </select>-->
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.combo" for="field_combo">Combo</label>
                    <select class="form-control" id="field_combo" name="combo" formControlName="combo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="menuOption.id === editForm.get('combo').value?.id ? editForm.get('combo').value : menuOption" *ngFor="let menuOption of menus; trackBy: trackMenuById">{{menuOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.onStop" for="field_onStop">On Stop</label>
                    <input type="checkbox" class="form-control" name="onStop" id="field_onStop"
                           formControlName="onStop"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.menu.spicy" for="field_spicy">Spicy</label>
                    <input type="checkbox" class="form-control" name="spicy" id="field_spicy"
                           formControlName="spicy"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
