<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menu">
            <h2><span jhiTranslate="enjexpApp.menu.detail.title">Menu</span> {{menu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.menu.name">Name</span></dt>
                <dd>
                    <span>{{menu.name}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.description">Description</span></dt>
                <dd>
                    <span>{{menu.description}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.image">Image</span></dt>
                <dd>
                    <div *ngIf="menu.image">
                        <a (click)="openFile(menu.imageContentType, menu.image)">
                            <img [src]="'data:' + menu.imageContentType + ';base64,' + menu.image" style="max-width: 100%;" alt="menu image"/>
                        </a>
                        {{menu.imageContentType}}, {{byteSize(menu.image)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.createDate">Create Date</span></dt>
                <dd>
                    <span>{{menu.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.flagDeleted">Flag Deleted</span></dt>
                <dd>
                    <span>{{menu.flagDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.content">Content</span></dt>
                <dd>
                    <span>{{menu.content}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.prepDuration">Prep Duration</span></dt>
                <dd>
                    <span>{{menu.prepDuration}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.category">Category</span></dt>
                <dd>
                    <div *ngIf="menu.category">
                        <a [routerLink]="['/category', menu.category?.id, 'view']">{{menu.category?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.price">Price</span></dt>
                <dd>
                    <div *ngIf="menu.price">
                        {{menu.price?.price}}
                    </div>
                </dd>
                <dt><span jhiTranslate="enjexpApp.menu.combo">Combo</span></dt>
                <dd>
                    <div *ngIf="menu.combo">
                        <a [routerLink]="['/menu', menu.combo?.id, 'view']">{{menu.combo?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu', menu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
