<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feedback">
            <h2><span jhiTranslate="enjexpApp.feedback.detail.title">Feedback</span> {{feedback.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.feedback.email">Email</span></dt>
                <dd>
                    <span>{{feedback.email}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.feedback.message">Message</span></dt>
                <dd>
                    <span>{{feedback.message}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feedback', feedback.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
