<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderFeedback">
            <h2><span jhiTranslate="enjexpApp.orderFeedback.detail.title">Order Feedback</span> {{orderFeedback.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.orderFeedback.rating">Rating</span></dt>
                <dd>
                    <span>{{orderFeedback.rating}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderFeedback.comment">Comment</span></dt>
                <dd>
                    <span>{{orderFeedback.comment}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderFeedback.createDate">Create Date</span></dt>
                <dd>
                    <span>{{orderFeedback.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderFeedback.order">Order</span></dt>
                <dd>
                    <div *ngIf="orderFeedback.order">
                        <a [routerLink]="['/order', orderFeedback.order?.id, 'view']">{{orderFeedback.order?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderFeedback.ratingTag">Rating Tag</span></dt>
                <dd>
                    <span *ngFor="let ratingTag of orderFeedback.ratingTags; let last = last">
                        <a [routerLink]="['/rating-tag', ratingTag?.id, 'view' ]">{{ratingTag.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-feedback', orderFeedback.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
