<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.orderFeedback.home.title">Order Feedbacks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-feedback" [routerLink]="['/order-feedback/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.orderFeedback.home.createLabel">
            Create a new Order Feedback
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orderFeedbacks?.length === 0">
        <span jhiTranslate="enjexpApp.orderFeedback.home.notFound">No orderFeedbacks found</span>
    </div>
    <div class="table-responsive" *ngIf="orderFeedbacks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rating"><span jhiTranslate="enjexpApp.orderFeedback.rating">Rating</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comment"><span jhiTranslate="enjexpApp.orderFeedback.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="enjexpApp.orderFeedback.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="order.id"><span jhiTranslate="enjexpApp.orderFeedback.order">Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderFeedback of orderFeedbacks ;trackBy: trackId">
                <td><a [routerLink]="['/order-feedback', orderFeedback.id, 'view' ]">{{orderFeedback.id}}</a></td>
                <td>{{orderFeedback.rating}}</td>
                <td>{{orderFeedback.comment}}</td>
                <td>{{orderFeedback.createDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="orderFeedback.order">
                        <a [routerLink]="['/order', orderFeedback.order?.id, 'view' ]" >{{orderFeedback.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order-feedback', orderFeedback.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-feedback', orderFeedback.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-feedback', { outlets: { popup: orderFeedback.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="orderFeedbacks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
