<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span jhiTranslate="enjexpApp.order.detail.title">Order</span> {{order.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.order.promocode">Promocode</span></dt>
                <dd>
                    <span>{{order.promocode}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.totalPrice">Total Price</span></dt>
                <dd>
                    <span>{{order.totalPrice}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.change">Change</span></dt>
                <dd>
                    <span>{{order.change}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.paid">Paid</span></dt>
                <dd>
                    <span>{{order.paid}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.paymentType">Payment Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'enjexpApp.PaymentType.' + order.paymentType}}">{{order.paymentType}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.paymentCode">Payment Code</span></dt>
                <dd>
                    <span>{{order.paymentCode}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.flagPaid">Flag Paid</span></dt>
                <dd>
                    <span>{{order.flagPaid}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.serviceType">Service Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'enjexpApp.ServiceType.' + order.serviceType}}">{{order.serviceType}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.serviceTime">Service Time</span></dt>
                <dd>
                    <span>{{order.serviceTime}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.createDate">Create Date</span></dt>
                <dd>
                    <span>{{order.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.comment">Comment</span></dt>
                <dd>
                    <span>{{order.comment}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.locationType">Location Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'enjexpApp.LocationType.' + order.locationType}}">{{order.locationType}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.deliveryDuration">Delivery Duration</span></dt>
                <dd>
                    <span>{{order.deliveryDuration}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.user">User</span></dt>
                <dd>
                    {{order.user?.id}}
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.status">Status</span></dt>
                <dd>
                    <div *ngIf="order.status">
                        <a [routerLink]="['/order-status-history', order.status?.id, 'view']">{{order.status?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enjexpApp.order.location">Location</span></dt>
                <dd>
                    <div *ngIf="order.location">
                        <a [routerLink]="['/location', order.location?.id, 'view']">{{order.location?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
