<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.order.home.title">Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order" [routerLink]="['/order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.order.home.createLabel">
            Create a new Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orders?.length === 0">
        <span jhiTranslate="enjexpApp.order.home.notFound">No orders found</span>
    </div>
    <div class="table-responsive" *ngIf="orders?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="promocode"><span jhiTranslate="enjexpApp.order.promocode">Promocode</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalPrice"><span jhiTranslate="enjexpApp.order.totalPrice">Total Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="change"><span jhiTranslate="enjexpApp.order.change">Change</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paid"><span jhiTranslate="enjexpApp.order.paid">Paid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentType"><span jhiTranslate="enjexpApp.order.paymentType">Payment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentCode"><span jhiTranslate="enjexpApp.order.paymentCode">Payment Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagPaid"><span jhiTranslate="enjexpApp.order.flagPaid">Flag Paid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceType"><span jhiTranslate="enjexpApp.order.serviceType">Service Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceTime"><span jhiTranslate="enjexpApp.order.serviceTime">Service Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="enjexpApp.order.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comment"><span jhiTranslate="enjexpApp.order.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="locationType"><span jhiTranslate="enjexpApp.order.locationType">Location Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deliveryDuration"><span jhiTranslate="enjexpApp.order.deliveryDuration">Delivery Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="enjexpApp.order.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status.id"><span jhiTranslate="enjexpApp.order.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="location.id"><span jhiTranslate="enjexpApp.order.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders ;trackBy: trackId">
                <td><a [routerLink]="['/order', order.id, 'view' ]">{{order.id}}</a></td>
                <td>{{order.promocode}}</td>
                <td>{{order.totalPrice}}</td>
                <td>{{order.change}}</td>
                <td>{{order.paid}}</td>
                <td jhiTranslate="{{'enjexpApp.PaymentType.' + order.paymentType}}">{{order.paymentType}}</td>
                <td>{{order.paymentCode}}</td>
                <td>{{order.flagPaid}}</td>
                <td jhiTranslate="{{'enjexpApp.ServiceType.' + order.serviceType}}">{{order.serviceType}}</td>
                <td>{{order.serviceTime | date:'medium'}}</td>
                <td>{{order.createDate | date:'medium'}}</td>
                <td>{{order.comment}}</td>
                <td jhiTranslate="{{'enjexpApp.LocationType.' + order.locationType}}">{{order.locationType}}</td>
                <td>{{order.deliveryDuration}}</td>
                <td>
                    {{order.user?.id}}
                </td>
                <td>
                    <div *ngIf="order.status">
                        <a [routerLink]="['/order-status-history', order.status?.id, 'view' ]" >{{order.status?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="order.location">
                        <a [routerLink]="['/location', order.location?.id, 'view' ]" >{{order.location?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order', order.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order', order.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order', { outlets: { popup: order.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="orders?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
