<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="enjexpApp.order.home.createOrEditLabel">Create or edit a Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.promocode" for="field_promocode">Promocode</label>
                    <input type="text" class="form-control" name="promocode" id="field_promocode"
                           formControlName="promocode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.totalPrice" for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                           formControlName="totalPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.change" for="field_change">Change</label>
                    <input type="number" class="form-control" name="change" id="field_change"
                           formControlName="change"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.paid" for="field_paid">Paid</label>
                    <input type="number" class="form-control" name="paid" id="field_paid"
                           formControlName="paid"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.paymentType" for="field_paymentType">Payment Type</label>
                    <select class="form-control" name="paymentType" formControlName="paymentType" id="field_paymentType">
                        <option value="CASH">{{'enjexpApp.PaymentType.CASH' | translate}}</option>
                        <option value="EPAY">{{'enjexpApp.PaymentType.EPAY' | translate}}</option>
                        <option value="KASPI">{{'enjexpApp.PaymentType.KASPI' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.paymentCode" for="field_paymentCode">Payment Code</label>
                    <input type="text" class="form-control" name="paymentCode" id="field_paymentCode"
                           formControlName="paymentCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.flagPaid" for="field_flagPaid">Flag Paid</label>
                    <input type="checkbox" class="form-control" name="flagPaid" id="field_flagPaid"
                           formControlName="flagPaid"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.serviceType" for="field_serviceType">Service Type</label>
                    <select class="form-control" name="serviceType" formControlName="serviceType" id="field_serviceType">
                        <option value="PICK_UP">{{'enjexpApp.ServiceType.PICK_UP' | translate}}</option>
                        <option value="DELIVERY">{{'enjexpApp.ServiceType.DELIVERY' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.serviceTime" for="field_serviceTime">Service Time</label>
                    <div class="d-flex">
                        <input id="field_serviceTime" type="datetime-local" class="form-control" name="serviceTime" formControlName="serviceTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.locationType" for="field_locationType">Location Type</label>
                    <select class="form-control" name="locationType" formControlName="locationType" id="field_locationType">
                        <option value="KAZGYU">{{'enjexpApp.LocationType.KAZGYU' | translate}}</option>
                        <option value="COMMUNITY">{{'enjexpApp.LocationType.COMMUNITY' | translate}}</option>
                        <option value="CITY">{{'enjexpApp.LocationType.CITY' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.deliveryDuration" for="field_deliveryDuration">Delivery Duration</label>
                    <input type="number" class="form-control" name="deliveryDuration" id="field_deliveryDuration"
                           formControlName="deliveryDuration"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.status" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" formControlName="status">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderStatusHistoryOption.id === editForm.get('status').value?.id ? editForm.get('status').value : orderStatusHistoryOption" *ngFor="let orderStatusHistoryOption of orderstatushistories; trackBy: trackOrderStatusHistoryById">{{orderStatusHistoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.order.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('location').value?.id ? editForm.get('location').value : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
