<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promocodeSale">
            <h2><span jhiTranslate="enjexpApp.promocodeSale.detail.title">Promocode Sale</span> {{promocodeSale.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.promocodeSale.sale">Sale</span></dt>
                <dd>
                    <span>{{promocodeSale.sale}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocodeSale.minPrice">Min Price</span></dt>
                <dd>
                    <span>{{promocodeSale.minPrice}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocodeSale.maxPrice">Max Price</span></dt>
                <dd>
                    <span>{{promocodeSale.maxPrice}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocodeSale.minAmount">Min Amount</span></dt>
                <dd>
                    <span>{{promocodeSale.minAmount}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocodeSale.maxAmount">Max Amount</span></dt>
                <dd>
                    <span>{{promocodeSale.maxAmount}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocodeSale.minShare">Min Share</span></dt>
                <dd>
                    <span>{{promocodeSale.minShare}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocodeSale.startDate">Start Date</span></dt>
                <dd>
                    <span>{{promocodeSale.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocodeSale.endDate">End Date</span></dt>
                <dd>
                    <span>{{promocodeSale.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocodeSale.promocode">Promocode</span></dt>
                <dd>
                    <div *ngIf="promocodeSale.promocode">
                        <a [routerLink]="['/promocode', promocodeSale.promocode?.id, 'view']">{{promocodeSale.promocode?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/promocode-sale', promocodeSale.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
