<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.promocodeSale.home.title">Promocode Sales</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-promocode-sale" [routerLink]="['/promocode-sale/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.promocodeSale.home.createLabel">
            Create a new Promocode Sale
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="promocodeSales?.length === 0">
        <span jhiTranslate="enjexpApp.promocodeSale.home.notFound">No promocodeSales found</span>
    </div>
    <div class="table-responsive" *ngIf="promocodeSales?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sale"><span jhiTranslate="enjexpApp.promocodeSale.sale">Sale</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minPrice"><span jhiTranslate="enjexpApp.promocodeSale.minPrice">Min Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxPrice"><span jhiTranslate="enjexpApp.promocodeSale.maxPrice">Max Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minAmount"><span jhiTranslate="enjexpApp.promocodeSale.minAmount">Min Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxAmount"><span jhiTranslate="enjexpApp.promocodeSale.maxAmount">Max Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minShare"><span jhiTranslate="enjexpApp.promocodeSale.minShare">Min Share</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="enjexpApp.promocodeSale.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="enjexpApp.promocodeSale.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="promocode.id"><span jhiTranslate="enjexpApp.promocodeSale.promocode">Promocode</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let promocodeSale of promocodeSales ;trackBy: trackId">
                <td><a [routerLink]="['/promocode-sale', promocodeSale.id, 'view' ]">{{promocodeSale.id}}</a></td>
                <td>{{promocodeSale.sale}}</td>
                <td>{{promocodeSale.minPrice}}</td>
                <td>{{promocodeSale.maxPrice}}</td>
                <td>{{promocodeSale.minAmount}}</td>
                <td>{{promocodeSale.maxAmount}}</td>
                <td>{{promocodeSale.minShare}}</td>
                <td>{{promocodeSale.startDate | date:'medium'}}</td>
                <td>{{promocodeSale.endDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="promocodeSale.promocode">
                        <a [routerLink]="['/promocode', promocodeSale.promocode?.id, 'view' ]" >{{promocodeSale.promocode?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/promocode-sale', promocodeSale.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/promocode-sale', promocodeSale.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/promocode-sale', { outlets: { popup: promocodeSale.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="promocodeSales?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
