<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-promocode-sale-heading" jhiTranslate="enjexpApp.promocodeSale.home.createOrEditLabel">Create or edit a Promocode Sale</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.sale" for="field_sale">Sale</label>
                    <input type="number" class="form-control" name="sale" id="field_sale"
                           formControlName="sale"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.minPrice" for="field_minPrice">Min Price</label>
                    <input type="number" class="form-control" name="minPrice" id="field_minPrice"
                           formControlName="minPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.maxPrice" for="field_maxPrice">Max Price</label>
                    <input type="number" class="form-control" name="maxPrice" id="field_maxPrice"
                           formControlName="maxPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.minAmount" for="field_minAmount">Min Amount</label>
                    <input type="number" class="form-control" name="minAmount" id="field_minAmount"
                           formControlName="minAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.maxAmount" for="field_maxAmount">Max Amount</label>
                    <input type="number" class="form-control" name="maxAmount" id="field_maxAmount"
                           formControlName="maxAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.minShare" for="field_minShare">Min Share</label>
                    <input type="number" class="form-control" name="minShare" id="field_minShare"
                           formControlName="minShare"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.endDate" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" formControlName="endDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.promocodeSale.promocode" for="field_promocode">Promocode</label>
                    <select class="form-control" id="field_promocode" name="promocode" formControlName="promocode">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="promocodeOption.id === editForm.get('promocode').value?.id ? editForm.get('promocode').value : promocodeOption" *ngFor="let promocodeOption of promocodes; trackBy: trackPromocodeById">{{promocodeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
