<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.priceHistory.home.title">Price Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-price-history" [routerLink]="['/price-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.priceHistory.home.createLabel">
            Create a new Price History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="priceHistories?.length === 0">
        <span jhiTranslate="enjexpApp.priceHistory.home.notFound">No priceHistories found</span>
    </div>
    <div class="table-responsive" *ngIf="priceHistories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span jhiTranslate="enjexpApp.priceHistory.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currency"><span jhiTranslate="enjexpApp.priceHistory.currency">Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="menu.id"><span jhiTranslate="enjexpApp.priceHistory.menu">Menu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let priceHistory of priceHistories ;trackBy: trackId">
                <td><a [routerLink]="['/price-history', priceHistory.id, 'view' ]">{{priceHistory.id}}</a></td>
                <td>{{priceHistory.price}}</td>
                <td jhiTranslate="{{'enjexpApp.PriceCurrency.' + priceHistory.currency}}">{{priceHistory.currency}}</td>
                <td>
                    <div *ngIf="priceHistory.menu">
                        <a [routerLink]="['/menu', priceHistory.menu?.id, 'view' ]" >{{priceHistory.menu?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/price-history', priceHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/price-history', priceHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/price-history', { outlets: { popup: priceHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="priceHistories?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
