<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="priceHistory">
            <h2><span jhiTranslate="enjexpApp.priceHistory.detail.title">Price History</span> {{priceHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.priceHistory.price">Price</span></dt>
                <dd>
                    <span>{{priceHistory.price}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.priceHistory.currency">Currency</span></dt>
                <dd>
                    <span jhiTranslate="{{'enjexpApp.PriceCurrency.' + priceHistory.currency}}">{{priceHistory.currency}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.priceHistory.menu">Menu</span></dt>
                <dd>
                    <div *ngIf="priceHistory.menu">
                        <a [routerLink]="['/menu', priceHistory.menu?.id, 'view']">{{priceHistory.menu?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/price-history', priceHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
