<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-notice-receiver-heading" jhiTranslate="enjexpApp.noticeReceiver.home.createOrEditLabel">Create or edit a Notice Receiver</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.toUserId" for="field_toUserId">To User Id</label>
                    <input type="number" class="form-control" name="toUserId" id="field_toUserId"
                           formControlName="toUserId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.userLang" for="field_userLang">User Lang</label>
                    <input type="text" class="form-control" name="userLang" id="field_userLang"
                           formControlName="userLang"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.flagSmsSent" for="field_flagSmsSent">Flag Sms Sent</label>
                    <input type="checkbox" class="form-control" name="flagSmsSent" id="field_flagSmsSent"
                           formControlName="flagSmsSent"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.flagEmailSent" for="field_flagEmailSent">Flag Email Sent</label>
                    <input type="checkbox" class="form-control" name="flagEmailSent" id="field_flagEmailSent"
                           formControlName="flagEmailSent"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.flagPushSent" for="field_flagPushSent">Flag Push Sent</label>
                    <input type="checkbox" class="form-control" name="flagPushSent" id="field_flagPushSent"
                           formControlName="flagPushSent"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.flagRead" for="field_flagRead">Flag Read</label>
                    <input type="checkbox" class="form-control" name="flagRead" id="field_flagRead"
                           formControlName="flagRead"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.readDate" for="field_readDate">Read Date</label>
                    <div class="d-flex">
                        <input id="field_readDate" type="datetime-local" class="form-control" name="readDate" formControlName="readDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.receiverFullName" for="field_receiverFullName">Receiver Full Name</label>
                    <input type="text" class="form-control" name="receiverFullName" id="field_receiverFullName"
                           formControlName="receiverFullName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.receiverPhone" for="field_receiverPhone">Receiver Phone</label>
                    <input type="text" class="form-control" name="receiverPhone" id="field_receiverPhone"
                           formControlName="receiverPhone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.noticeReceiver.notice" for="field_notice">Notice</label>
                    <select class="form-control" id="field_notice" name="notice" formControlName="notice">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="noticeOption.id === editForm.get('notice').value?.id ? editForm.get('notice').value : noticeOption" *ngFor="let noticeOption of notices; trackBy: trackNoticeById">{{noticeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
