<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.noticeReceiver.home.title">Notice Receivers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notice-receiver" [routerLink]="['/notice-receiver/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.noticeReceiver.home.createLabel">
            Create a new Notice Receiver
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="noticeReceivers?.length === 0">
        <span jhiTranslate="enjexpApp.noticeReceiver.home.notFound">No noticeReceivers found</span>
    </div>
    <div class="table-responsive" *ngIf="noticeReceivers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toUserId"><span jhiTranslate="enjexpApp.noticeReceiver.toUserId">To User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userLang"><span jhiTranslate="enjexpApp.noticeReceiver.userLang">User Lang</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagSmsSent"><span jhiTranslate="enjexpApp.noticeReceiver.flagSmsSent">Flag Sms Sent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagEmailSent"><span jhiTranslate="enjexpApp.noticeReceiver.flagEmailSent">Flag Email Sent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagPushSent"><span jhiTranslate="enjexpApp.noticeReceiver.flagPushSent">Flag Push Sent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagRead"><span jhiTranslate="enjexpApp.noticeReceiver.flagRead">Flag Read</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="readDate"><span jhiTranslate="enjexpApp.noticeReceiver.readDate">Read Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="receiverFullName"><span jhiTranslate="enjexpApp.noticeReceiver.receiverFullName">Receiver Full Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="receiverPhone"><span jhiTranslate="enjexpApp.noticeReceiver.receiverPhone">Receiver Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="notice.id"><span jhiTranslate="enjexpApp.noticeReceiver.notice">Notice</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let noticeReceiver of noticeReceivers ;trackBy: trackId">
                <td><a [routerLink]="['/notice-receiver', noticeReceiver.id, 'view' ]">{{noticeReceiver.id}}</a></td>
                <td>{{noticeReceiver.toUserId}}</td>
                <td>{{noticeReceiver.userLang}}</td>
                <td>{{noticeReceiver.flagSmsSent}}</td>
                <td>{{noticeReceiver.flagEmailSent}}</td>
                <td>{{noticeReceiver.flagPushSent}}</td>
                <td>{{noticeReceiver.flagRead}}</td>
                <td>{{noticeReceiver.readDate | date:'medium'}}</td>
                <td>{{noticeReceiver.receiverFullName}}</td>
                <td>{{noticeReceiver.receiverPhone}}</td>
                <td>
                    <div *ngIf="noticeReceiver.notice">
                        <a [routerLink]="['/notice', noticeReceiver.notice?.id, 'view' ]" >{{noticeReceiver.notice?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/notice-receiver', noticeReceiver.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notice-receiver', noticeReceiver.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notice-receiver', { outlets: { popup: noticeReceiver.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="noticeReceivers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
