<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="noticeReceiver">
            <h2><span jhiTranslate="enjexpApp.noticeReceiver.detail.title">Notice Receiver</span> {{noticeReceiver.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.toUserId">To User Id</span></dt>
                <dd>
                    <span>{{noticeReceiver.toUserId}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.userLang">User Lang</span></dt>
                <dd>
                    <span>{{noticeReceiver.userLang}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.flagSmsSent">Flag Sms Sent</span></dt>
                <dd>
                    <span>{{noticeReceiver.flagSmsSent}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.flagEmailSent">Flag Email Sent</span></dt>
                <dd>
                    <span>{{noticeReceiver.flagEmailSent}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.flagPushSent">Flag Push Sent</span></dt>
                <dd>
                    <span>{{noticeReceiver.flagPushSent}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.flagRead">Flag Read</span></dt>
                <dd>
                    <span>{{noticeReceiver.flagRead}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.readDate">Read Date</span></dt>
                <dd>
                    <span>{{noticeReceiver.readDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.receiverFullName">Receiver Full Name</span></dt>
                <dd>
                    <span>{{noticeReceiver.receiverFullName}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.receiverPhone">Receiver Phone</span></dt>
                <dd>
                    <span>{{noticeReceiver.receiverPhone}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.noticeReceiver.notice">Notice</span></dt>
                <dd>
                    <div *ngIf="noticeReceiver.notice">
                        <a [routerLink]="['/notice', noticeReceiver.notice?.id, 'view']">{{noticeReceiver.notice?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notice-receiver', noticeReceiver.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
