<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="advert">
            <h2><span jhiTranslate="enjexpApp.advert.detail.title">Advert</span> {{advert.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.advert.name">Name</span></dt>
                <dd>
                    <span>{{advert.name}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.advert.description">Description</span></dt>
                <dd>
                    <span>{{advert.description}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.advert.image">Image</span></dt>
                <dd>
                    <div *ngIf="advert.image">
                        <a (click)="openFile(advert.imageContentType, advert.image)">
                            <img [src]="'data:' + advert.imageContentType + ';base64,' + advert.image" style="max-width: 100%;" alt="advert image"/>
                        </a>
                        {{advert.imageContentType}}, {{byteSize(advert.image)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/advert', advert.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
