<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-status-history-heading" jhiTranslate="enjexpApp.orderStatusHistory.home.createOrEditLabel">Create or edit a Order Status History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.orderStatusHistory.orderStatus" for="field_orderStatus">Order Status</label>
                    <select class="form-control" name="orderStatus" formControlName="orderStatus" id="field_orderStatus">
                        <option value="NEW">{{'enjexpApp.OrderStatus.NEW' | translate}}</option>
                        <option value="CONFIRMED">{{'enjexpApp.OrderStatus.CONFIRMED' | translate}}</option>
                        <option value="IN_PROCESS">{{'enjexpApp.OrderStatus.IN_PROCESS' | translate}}</option>
                        <option value="FINISHED">{{'enjexpApp.OrderStatus.FINISHED' | translate}}</option>
                        <option value="DELIVERING">{{'enjexpApp.OrderStatus.DELIVERING' | translate}}</option>
                        <option value="DELIVERED">{{'enjexpApp.OrderStatus.DELIVERED' | translate}}</option>
                        <option value="CANCELED">{{'enjexpApp.OrderStatus.CANCELED' | translate}}</option>
                        <option value="REJECTED">{{'enjexpApp.OrderStatus.REJECTED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.orderStatusHistory.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.orderStatusHistory.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.orderStatusHistory.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" formControlName="order">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderOption.id === editForm.get('order').value?.id ? editForm.get('order').value : orderOption" *ngFor="let orderOption of orders; trackBy: trackOrderById">{{orderOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
