<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderStatusHistory">
            <h2><span jhiTranslate="enjexpApp.orderStatusHistory.detail.title">Order Status History</span> {{orderStatusHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.orderStatusHistory.orderStatus">Order Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'enjexpApp.OrderStatus.' + orderStatusHistory.orderStatus}}">{{orderStatusHistory.orderStatus}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderStatusHistory.createDate">Create Date</span></dt>
                <dd>
                    <span>{{orderStatusHistory.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderStatusHistory.comment">Comment</span></dt>
                <dd>
                    <span>{{orderStatusHistory.comment}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderStatusHistory.order">Order</span></dt>
                <dd>
                    <div *ngIf="orderStatusHistory.order">
                        <a [routerLink]="['/order', orderStatusHistory.order?.id, 'view']">{{orderStatusHistory.order?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-status-history', orderStatusHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
