<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.orderStatusHistory.home.title">Order Status Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-status-history" [routerLink]="['/order-status-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.orderStatusHistory.home.createLabel">
            Create a new Order Status History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orderStatusHistories?.length === 0">
        <span jhiTranslate="enjexpApp.orderStatusHistory.home.notFound">No orderStatusHistories found</span>
    </div>
    <div class="table-responsive" *ngIf="orderStatusHistories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderStatus"><span jhiTranslate="enjexpApp.orderStatusHistory.orderStatus">Order Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="enjexpApp.orderStatusHistory.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comment"><span jhiTranslate="enjexpApp.orderStatusHistory.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="order.id"><span jhiTranslate="enjexpApp.orderStatusHistory.order">Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderStatusHistory of orderStatusHistories ;trackBy: trackId">
                <td><a [routerLink]="['/order-status-history', orderStatusHistory.id, 'view' ]">{{orderStatusHistory.id}}</a></td>
                <td jhiTranslate="{{'enjexpApp.OrderStatus.' + orderStatusHistory.orderStatus}}">{{orderStatusHistory.orderStatus}}</td>
                <td>{{orderStatusHistory.createDate | date:'medium'}}</td>
                <td>{{orderStatusHistory.comment}}</td>
                <td>
                    <div *ngIf="orderStatusHistory.order">
                        <a [routerLink]="['/order', orderStatusHistory.order?.id, 'view' ]" >{{orderStatusHistory.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order-status-history', orderStatusHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-status-history', orderStatusHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-status-history', { outlets: { popup: orderStatusHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="orderStatusHistories?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
