<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promocode">
            <h2><span jhiTranslate="enjexpApp.promocode.detail.title">Promocode</span> {{promocode.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.promocode.code">Code</span></dt>
                <dd>
                    <span>{{promocode.code}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocode.flagActive">Flag Active</span></dt>
                <dd>
                    <span>{{promocode.flagActive}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocode.name">Name</span></dt>
                <dd>
                    <span>{{promocode.name}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocode.description">Description</span></dt>
                <dd>
                    <span>{{promocode.description}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocode.containerClass">Container Class</span></dt>
                <dd>
                    <span>{{promocode.containerClass}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocode.containerId">Container Id</span></dt>
                <dd>
                    <span>{{promocode.containerId}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocode.createDate">Create Date</span></dt>
                <dd>
                    <span>{{promocode.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.promocode.user">User</span></dt>
                <dd>
                    {{promocode.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/promocode', promocode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
