<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.promocode.home.title">Promocodes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-promocode" [routerLink]="['/promocode/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.promocode.home.createLabel">
            Create a new Promocode
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="promocodes?.length === 0">
        <span jhiTranslate="enjexpApp.promocode.home.notFound">No promocodes found</span>
    </div>
    <div class="table-responsive" *ngIf="promocodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="enjexpApp.promocode.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagActive"><span jhiTranslate="enjexpApp.promocode.flagActive">Flag Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="enjexpApp.promocode.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="enjexpApp.promocode.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="containerClass"><span jhiTranslate="enjexpApp.promocode.containerClass">Container Class</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="containerId"><span jhiTranslate="enjexpApp.promocode.containerId">Container Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="enjexpApp.promocode.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="enjexpApp.promocode.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let promocode of promocodes ;trackBy: trackId">
                <td><a [routerLink]="['/promocode', promocode.id, 'view' ]">{{promocode.id}}</a></td>
                <td>{{promocode.code}}</td>
                <td>{{promocode.flagActive}}</td>
                <td>{{promocode.name}}</td>
                <td>{{promocode.description}}</td>
                <td>{{promocode.containerClass}}</td>
                <td>{{promocode.containerId}}</td>
                <td>{{promocode.createDate | date:'medium'}}</td>
                <td>
                    {{promocode.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/promocode', promocode.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/promocode', promocode.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/promocode', { outlets: { popup: promocode.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="promocodes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
