<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ratingTag">
            <h2><span jhiTranslate="enjexpApp.ratingTag.detail.title">Rating Tag</span> {{ratingTag.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.ratingTag.name">Name</span></dt>
                <dd>
                    <span>{{ratingTag.name}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.ratingTag.eq">Eq</span></dt>
                <dd>
                    <span>{{ratingTag.eq}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.ratingTag.code">Code</span></dt>
                <dd>
                    <span>{{ratingTag.code}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rating-tag', ratingTag.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
