<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderItem">
            <h2><span jhiTranslate="enjexpApp.orderItem.detail.title">Order Item</span> {{orderItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.orderItem.amount">Amount</span></dt>
                <dd>
                    <span>{{orderItem.amount}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderItem.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'enjexpApp.OrderItemType.' + orderItem.type}}">{{orderItem.type}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderItem.order">Order</span></dt>
                <dd>
                    <div *ngIf="orderItem.order">
                        <a [routerLink]="['/order', orderItem.order?.id, 'view']">{{orderItem.order?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="enjexpApp.orderItem.menu">Menu</span></dt>
                <dd>
                    <div *ngIf="orderItem.menu">
                        <a [routerLink]="['/menu', orderItem.menu?.id, 'view']">{{orderItem.menu?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-item', orderItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
