<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="notice">
            <h2><span jhiTranslate="enjexpApp.notice.detail.title">Notice</span> {{notice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="enjexpApp.notice.title">Title</span></dt>
                <dd>
                    <span>{{notice.title}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.content">Content</span></dt>
                <dd>
                    <span>{{notice.content}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.smsContent">Sms Content</span></dt>
                <dd>
                    <span>{{notice.smsContent}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.flagPush">Flag Push</span></dt>
                <dd>
                    <span>{{notice.flagPush}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.flagSms">Flag Sms</span></dt>
                <dd>
                    <span>{{notice.flagSms}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.flagEmail">Flag Email</span></dt>
                <dd>
                    <span>{{notice.flagEmail}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.receiverType">Receiver Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'enjexpApp.NoticeReceiverType.' + notice.receiverType}}">{{notice.receiverType}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.createDate">Create Date</span></dt>
                <dd>
                    <span>{{notice.createDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.modifyDate">Modify Date</span></dt>
                <dd>
                    <span>{{notice.modifyDate}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.containerClass">Container Class</span></dt>
                <dd>
                    <span>{{notice.containerClass}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.containerId">Container Id</span></dt>
                <dd>
                    <span>{{notice.containerId}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.noticeType">Notice Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'enjexpApp.NoticeType.' + notice.noticeType}}">{{notice.noticeType}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.flagSent">Flag Sent</span></dt>
                <dd>
                    <span>{{notice.flagSent}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.sentTime">Sent Time</span></dt>
                <dd>
                    <span>{{notice.sentTime}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.payloadObjectUrl">Payload Object Url</span></dt>
                <dd>
                    <span>{{notice.payloadObjectUrl}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.payloadObjectId">Payload Object Id</span></dt>
                <dd>
                    <span>{{notice.payloadObjectId}}</span>
                </dd>
                <dt><span jhiTranslate="enjexpApp.notice.flagDeleted">Flag Deleted</span></dt>
                <dd>
                    <span>{{notice.flagDeleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/notice', notice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
