<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-notice-heading" jhiTranslate="enjexpApp.notice.home.createOrEditLabel">Create or edit a Notice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.content" for="field_content">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                           formControlName="content"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.smsContent" for="field_smsContent">Sms Content</label>
                    <input type="text" class="form-control" name="smsContent" id="field_smsContent"
                           formControlName="smsContent"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.flagPush" for="field_flagPush">Flag Push</label>
                    <input type="checkbox" class="form-control" name="flagPush" id="field_flagPush"
                           formControlName="flagPush"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.flagSms" for="field_flagSms">Flag Sms</label>
                    <input type="checkbox" class="form-control" name="flagSms" id="field_flagSms"
                           formControlName="flagSms"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.flagEmail" for="field_flagEmail">Flag Email</label>
                    <input type="checkbox" class="form-control" name="flagEmail" id="field_flagEmail"
                           formControlName="flagEmail"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.receiverType" for="field_receiverType">Receiver Type</label>
                    <select class="form-control" name="receiverType" formControlName="receiverType" id="field_receiverType">
                        <option value="ONE_USER">{{'enjexpApp.NoticeReceiverType.ONE_USER' | translate}}</option>
                        <option value="GROUP">{{'enjexpApp.NoticeReceiverType.GROUP' | translate}}</option>
                        <option value="ALL_USERS">{{'enjexpApp.NoticeReceiverType.ALL_USERS' | translate}}</option>
                        <option value="ORDER">{{'enjexpApp.NoticeReceiverType.ORDER' | translate}}</option>
                        <option value="STOCK">{{'enjexpApp.NoticeReceiverType.STOCK' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.createDate" for="field_createDate">Create Date</label>
                    <div class="d-flex">
                        <input id="field_createDate" type="datetime-local" class="form-control" name="createDate" formControlName="createDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.modifyDate" for="field_modifyDate">Modify Date</label>
                    <div class="d-flex">
                        <input id="field_modifyDate" type="datetime-local" class="form-control" name="modifyDate" formControlName="modifyDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.containerClass" for="field_containerClass">Container Class</label>
                    <input type="text" class="form-control" name="containerClass" id="field_containerClass"
                           formControlName="containerClass"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.containerId" for="field_containerId">Container Id</label>
                    <input type="number" class="form-control" name="containerId" id="field_containerId"
                           formControlName="containerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.noticeType" for="field_noticeType">Notice Type</label>
                    <select class="form-control" name="noticeType" formControlName="noticeType" id="field_noticeType">
                        <option value="INFO">{{'enjexpApp.NoticeType.INFO' | translate}}</option>
                        <option value="SUCCESS">{{'enjexpApp.NoticeType.SUCCESS' | translate}}</option>
                        <option value="WARNING">{{'enjexpApp.NoticeType.WARNING' | translate}}</option>
                        <option value="DANGER">{{'enjexpApp.NoticeType.DANGER' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.flagSent" for="field_flagSent">Flag Sent</label>
                    <input type="checkbox" class="form-control" name="flagSent" id="field_flagSent"
                           formControlName="flagSent"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.sentTime" for="field_sentTime">Sent Time</label>
                    <div class="d-flex">
                        <input id="field_sentTime" type="datetime-local" class="form-control" name="sentTime" formControlName="sentTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.payloadObjectUrl" for="field_payloadObjectUrl">Payload Object Url</label>
                    <input type="text" class="form-control" name="payloadObjectUrl" id="field_payloadObjectUrl"
                           formControlName="payloadObjectUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.payloadObjectId" for="field_payloadObjectId">Payload Object Id</label>
                    <input type="number" class="form-control" name="payloadObjectId" id="field_payloadObjectId"
                           formControlName="payloadObjectId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="enjexpApp.notice.flagDeleted" for="field_flagDeleted">Flag Deleted</label>
                    <input type="checkbox" class="form-control" name="flagDeleted" id="field_flagDeleted"
                           formControlName="flagDeleted"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
