<div>
    <h2 id="page-heading">
        <span jhiTranslate="enjexpApp.notice.home.title">Notices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-notice" [routerLink]="['/notice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="enjexpApp.notice.home.createLabel">
            Create a new Notice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="notices?.length === 0">
        <span jhiTranslate="enjexpApp.notice.home.notFound">No notices found</span>
    </div>
    <div class="table-responsive" *ngIf="notices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="enjexpApp.notice.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="content"><span jhiTranslate="enjexpApp.notice.content">Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="smsContent"><span jhiTranslate="enjexpApp.notice.smsContent">Sms Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagPush"><span jhiTranslate="enjexpApp.notice.flagPush">Flag Push</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagSms"><span jhiTranslate="enjexpApp.notice.flagSms">Flag Sms</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagEmail"><span jhiTranslate="enjexpApp.notice.flagEmail">Flag Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="receiverType"><span jhiTranslate="enjexpApp.notice.receiverType">Receiver Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createDate"><span jhiTranslate="enjexpApp.notice.createDate">Create Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyDate"><span jhiTranslate="enjexpApp.notice.modifyDate">Modify Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="containerClass"><span jhiTranslate="enjexpApp.notice.containerClass">Container Class</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="containerId"><span jhiTranslate="enjexpApp.notice.containerId">Container Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noticeType"><span jhiTranslate="enjexpApp.notice.noticeType">Notice Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagSent"><span jhiTranslate="enjexpApp.notice.flagSent">Flag Sent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sentTime"><span jhiTranslate="enjexpApp.notice.sentTime">Sent Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="payloadObjectUrl"><span jhiTranslate="enjexpApp.notice.payloadObjectUrl">Payload Object Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="payloadObjectId"><span jhiTranslate="enjexpApp.notice.payloadObjectId">Payload Object Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagDeleted"><span jhiTranslate="enjexpApp.notice.flagDeleted">Flag Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notice of notices ;trackBy: trackId">
                <td><a [routerLink]="['/notice', notice.id, 'view' ]">{{notice.id}}</a></td>
                <td>{{notice.title}}</td>
                <td>{{notice.content}}</td>
                <td>{{notice.smsContent}}</td>
                <td>{{notice.flagPush}}</td>
                <td>{{notice.flagSms}}</td>
                <td>{{notice.flagEmail}}</td>
                <td jhiTranslate="{{'enjexpApp.NoticeReceiverType.' + notice.receiverType}}">{{notice.receiverType}}</td>
                <td>{{notice.createDate | date:'medium'}}</td>
                <td>{{notice.modifyDate | date:'medium'}}</td>
                <td>{{notice.containerClass}}</td>
                <td>{{notice.containerId}}</td>
                <td jhiTranslate="{{'enjexpApp.NoticeType.' + notice.noticeType}}">{{notice.noticeType}}</td>
                <td>{{notice.flagSent}}</td>
                <td>{{notice.sentTime | date:'medium'}}</td>
                <td>{{notice.payloadObjectUrl}}</td>
                <td>{{notice.payloadObjectId}}</td>
                <td>{{notice.flagDeleted}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/notice', notice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notice', notice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/notice', { outlets: { popup: notice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="notices?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
